@using Library.MVCClient.Models

@model AuthorViewModel
@{
    ViewBag.Title = "Add an Author";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("AddAuthor", "Authors", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IsMale, "Is Male:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.IsMale, new { @class = "form-control", @value = "qwerty", @type = "checkbox" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.YearOfBirth, "Year of Birth", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.YearOfBirth, new { @class = "form-control", @value = "qwerty", @type = "number" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn  btn-primary" value="Add Author" />
        </div>
    </div>
}
