@using Library.Models;

@model Customer
@{
    ViewBag.Title = "Update a Customer";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Update", "Customers", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.CustomerId, "Customer ID*", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @value = "qwerty", @type = "number" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @value = "new book name" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IDcard, "ID Card", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.IDcard, new { @class = "form-control", @value = "qwerty", @type = "long" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, "Address", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @value = "qwerty", @type = "string" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, "Gender", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", @value = "qwerty", @type = "number" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, "Phone Number", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @value = "qwerty", @type = "number" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EGN, "EGN", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EGN, new { @class = "form-control", @value = "qwerty", @type = "number" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, "e-mail", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @value = "qwerty", @type = "string" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn  btn-primary" value="Update" />
        </div>
    </div>
}
